@media only screen and (max-width: 1024px) {
  .FinalContainer {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/logo_simp.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200vw;
  }

  .FinalMessage {
    padding-top: 15vh;
    font-size: 4vw;
    width: 90vw;
    margin-left: 5vw;
  }

  .OkButton {
    position: absolute;
    width: 20vw;
    height: 10vw;
    border-radius: 3vw;
    border: none;
    background-color: #04738c;
    color: ivory;
    bottom: 15vh;
    left: 40vw;
    font-size: 4.5vw;
    line-height: 10vw;
  }
}
@media only screen and (min-width: 1024px) {
  .FinalContainer {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/logo_simp.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
  }

  .FinalMessage {
    padding-top: 15vh;
    font-size: 1.5vw;
    width: 50vw;
    margin-left: 25vw;
  }

  .OkButton {
    position: absolute;
    width: 5vw;
    height: 2.5vw;
    border-radius: 1vw;
    border: none;
    background-color: #04738c;
    color: ivory;
    bottom: 15vh;
    left: 47.5vw;
    font-size: 2vw;
    line-height: 2vw;
  }
}
